[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
[submodule "vendor/plugins/auto_complete"]
	path = vendor/plugins/auto_complete
	url = git://github.com/rails/auto_complete.git
[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/plugins/permalink_fu"]
	path = vendor/plugins/permalink_fu
	url = git://github.com/technoweenie/permalink_fu.git
[submodule "vendor/plugins/google_analytics"]
	path = vendor/plugins/google_analytics
	url = git://github.com/rubaidh/google_analytics.git
