<h1>Members Admin</h1>
<table>
	<thead>
		<tr>
			<th>Last</th>
			<th>First</th>
		</tr>
	</thead>
	<tbody>
<% @members.each do |m| %>
		<tr>
			<td><%= m.last %></td>
			<td><%= m.first %></td>
		</tr>
<% end %>
	</tbody>
</table>