<h1>Convention Registration</h1>
<p>Start typing the member's name in the box below. If the name does not appear, the member is not in the database. This means that the NSCL has not received either membership application or dues, or both. Refer the member to the New Member registration.</p>
<div>
<%= text_field_with_auto_complete :member, :register, {:size=> 40}, :skip_style => true %>
</div>

<p style="clear: both"><%= link_to "Download Spreadsheet", :action => :get_spreadsheet %></p>
