<h2>New Page</h2>
<p><%= link_to "Return to directory listing", page_category_pages_path(params[:page_category_id])%></p>
<% form_for (@page, :url => page_category_pages_path) do |f| %>
<%= render :partial => f %>
<% end %>