<% unless @publications.nil? %>
	<div class="no-column-form">
	<% form_tag nil, :method=> "get" do %>
		<select id="year" name="year">
		<% @publications.group_by(&:year).sort {|a,b| b <=> a }.each do |year, pub| %>
			<option value="<%= year %>"<% if year == @year %> selected="selected"<% end %>><%= year %></option>
		<% end # do %>
		</select>
		<input type="submit" value="Go" />
	<% end #form -%>
	</div>
	<% @publications.group_by(&:year).each do |year, pub| -%>
		<% if year == @year -%>
			<% pub.sort { |a,b| a.date <=> b.date }.each do |p| -%>
				<p>
					<%= link_to image_tag(p.publication.url(:thumb)), p.publication.url %><br />
					<%= p.date %>
				</p>
			<% end # do -%>
		<% end # if -%>
	<% end # do -%>
<% else -%>
	<p>
		No issues found.
	</p>
<% end # unless @publications.nil? -%>