<h1>The Convention Ear</h1>
<p>The Convention Ear is the daily convention newsletter produced by the SCL each year during the NJCL convention. The <%=link_to "NSCL Editor", :controller => "business/officers/", :link => "editor"%> is in charge of overall design and layout, as well as recruiting as many other SCLers as possible to create this amalgam of caffeine-induced hysteria. Each edition is archived here by date.</p>

<% cache ({:year => params[:year] || 3000}) do %>
	<%= render :partial => 'publication_display'%>
<% end %>
