<h2>Letter of the League</h2>
<p>The Letter of the League, or &#8220;Litterae Societatis&#8221;, is the biannual publication of the National Senior  Classical League. Created by the <%= link_to "NSCL Editor", :controller => "business/officers", :link => "editor" %>, the LoL contains information about state and local SCL chapters, the national convention, and the NSCL officers. The LoL is archived here for your convenience. Enjoy!</p>