<ul>
    <li><%= link_to "Officers", {:controller => 'business/officers', :action => 'index'} %></li>
	<li>Documents
		<ul>
			<li><%= link_to "Creed", :action => "creed"%></li>
			<li><%= link_to "Song", :action => "song" %></li>
			<li><%= link_to "Constitution", :action => "constitution"%></li>
		</ul>
	</li>
</ul>