<h1>Constitution and Bylaws of the National Senior Classical League</h1>

<p>Download the Constitution and Bylaws in PDF format:</p>
<ul>
	<li><a href="/documents/nscl-constitution.pdf">Constitution</a></li>
	<li><a href="/documents/nscl-bylaws.pdf">Bylaws</a></li>
</ul>

<h1>Constitution</h1>


	<h2>Article 1: General Provisions</h2>

	<h3>Section 1: Name</h3>


	<p>The name of this organization is the National Senior Classical League hereafter in this document referred to as NSCL.</p>


	<h3>Section 2: Objective</h3>

	<p>The objectives of this organization are to enhance and promote the appreciation of the classics and classical scholarship in postsecondary education, and to advise, encourage, and help the Junior Classical League.</p>


	<h3>Section 3: Emblem</h3>


	<p>The emblem shall be the torch of knowledge under the initials &#8220;SCL,&#8221; all encircled by a laurel wreath.</p>


	<h3>Section 4: Affiliation</h3>


	<p>This organization is in affiliation with the American Classical League, the parent organization of the Junior Classical League, through its Committee on the National Junior and Senior Classical Leagues (hereafter referred to in this document as the National Committee).</p>


	<h2>Article II: Members</h2>


	<h3>Section 1: Authority of the Membership</h3>


	<p>The paramount legislative authority of this organization resides in the membership. The explicit mention of certain powers of the membership does not deny or disparage its exercise of others. The membership can amend the constitution upon prior approval by the National Committee and the American Classical League.</p>


	<h3>Section 2: Types of Membership and Their Qualifications</h3>


	<p>There shall be two types of membership in the <span class="caps">NSCL</span>, which shall be called regular and associate. Regular and associate memberships shall be held for the time of payment of dues for that type of membership, until the time that eligibility for that type of membership has expired. The bylaws of the <span class="caps">NSCL</span> shall prescribe the dues for regular and associate membership.</p>


	<h4>Section 2.1: Regular Membership</h4>


	<p>Any secondary school graduate shall be eligible for regular membership until the election of officers at the fifth annual meeting after his graduation. A graduation senior may join at the annual meeting of the state <span class="caps">SCL</span> chapter in the year of his graduation. If he attends the <span class="caps">NJCL</span> convention immediately following his graduation from high school, he shall be governed by the rules for an <span class="caps">NJCL</span> delegate, although he may participate in <span class="caps">NSCL</span> activities. The rights of regular members of the <span class="caps">NSCL</span> are described in this constitution and in the bylaws of the <span class="caps">NSCL</span>.</p>


	<h4>Section 2.2: Associate Membership</h4>


	<p>Any secondary school graduate shall be eligible for associate membership from the opening of the fifth until the end of the ninth annual meeting after his graduation from high school. An associate member shall enjoy every right that a regular member enjoys except eligibility to hold national office.</p>


	<h3>Section 3: Chapters</h3>


	<p>The <span class="caps">NSCL</span> may charter state and local chapters of its organization. Procedure for such charters, along with requirements for and obligations of state and local chapters, shall be specified in the Bylaws and the Handbook of the <span class="caps">NSCL</span>.</p>


	<h2>Article <span class="caps">III</span>: Governance</h2>


	<h3>Section 1:</h3>


	<p>The National Committee is a standing committee of the American Classical League. The Committee shall be represented in all <span class="caps">NSCL</span> matters by the Olympika Contest Chair, who shall serve as the <span class="caps">NSCL</span> Advisor. No section of this constitution or its bylaws shall be construed so as to conflict with the Constitution, Bylaws, or Acts of The American Classical League. The American Classical League Constitution and Bylaws govern the appointment of the members of the National Committee.</p>


	<h3>Section 2: Officers</h3>


	<p>The membership annually shall elect a President, Vice-President, a Secretary, a Treasurer, and a Parliamentarian. The President-Elect, with the consensus of the officers-elect and advisor, shall appoint an Editor and an Historian.</p>


	<h3>Section 3: Qualifications</h3>


	<p>Only regular members are eligible for <span class="caps">NSCL</span> office. A candidate must have studied the classics in secondary or postsecondary school. A candidate for President or Vice-President must have attended at least one prior annual meeting as an <span class="caps">NSCL</span> member to be eligible for any elected <span class="caps">NSCL</span> office.</p>


	<h4>Section 3.1: Rules Involving Multiple Offices</h4>


	<p>No member shall hold concurrently more than one elected office. No member shall be elected to the same office at two consecutive annual meetings.</p>


	<h3>Section 4: Elections</h3>


	<p>The membership of the <span class="caps">NSCL</span> shall hold elections at the annual meeting of the membership. Nominations shall be taken from the floor of the assembly. Time shall be allowed for each candidate to speak on his own behalf.</p>


	<h3>Section 5: Executive Board</h3>


	<p>The general executive authority resides in an Executive Board, which shall consist of the seven officers, and the Advisor as a nonvoting member. The board shall supervise the affairs of the organization between its meetings and shall transact business on its behalf, subject to the authority of the membership, the <span class="caps">ACL</span>, and the National Committee.</p>


	<h4>Section 5.1: Meetings</h4>


	<p>The Executive Board shall meet at the national convention of the Junior Classical League prior to the first <span class="caps">NSCL</span> General Assembly. A special meeting of the Executive Board shall be held upon the call of the President, the Advisor, or any two officers. A simple majority of officers shall constitute a quorum. The Advisor is not counted in the quorum.</p>


	<h4>Section 5.2: Scholarship Committee</h4>


	<p>The Executive Board, with the advice of the Advisor, shall appoint a Scholarship Committee who shall administer the scholarships of the League. This committee shall consist of the Advisor and four additional members. These four committee members may not be selected from the membership of the League. The Committee members shall have staggered terms of three years each. The Scholarship Committee shall elect within itself a Treasurer and a Chair and shall meet annually at the convention of the National Junior Classical League.</p>


	<h3>Section 6: Parliamentary Authority</h3>


	<p>The rules contained in the current edition of <em>Robert&#8217;s Rules of Order, Newly Revised</em> shall govern the League in all cases to which they are applicable and in which they are not inconsistent with this constitution and these bylaws and any special rules of order the League may adopt.</p>

	<h2>Article IV: Meetings</h2>


	<h3>Section 1: Annual Meeting</h3>


	<p>The membership shall meet annually during the convention of the National Junior Classical League. Only <span class="caps">SCL</span> members who are delegates to the convention shall participate in this meeting. The bylaws shall prescribe a registration fee, payment of which shall entitle an eligible member to participate in the meeting.</p>


	<h3>Section 2: Quorum</h3>


	<p>At any assembly of the <span class="caps">NSCL</span> membership during the annual meeting for which public notice has been given at least 24 hours prior to the assembly, the members present shall constitute a quorum.</p>


	<h2>Article V: Amendment</h2>


	<h3>Section 1: Proposal</h3>


	<p>Any member may propose an amendment to this constitution or the bylaws by written notice to the President and the Parliamentarian, which amendment shall have been submitted in proper form to the National Committee. Any furtherance of a proposed amendment requires <span class="caps">ACL</span> approval.</p>


	<h3>Section 2: Consideration</h3>


	<p>The membership shall consider any proposed amendment to this constitution at the first annual meeting held more than one month after its acceptance by the <span class="caps">ACL</span> Council. The Executive Board shall report to the membership the possible effect of the amendment, and may recommend whether the proposed amendment ought to be ratified.</p>


	<h3>Section 3: Presentation</h3>


	<p>The Parliamentarian shall give notice of any proposed amendment to this constitution at the first assembly of the annual meeting, and shall explain the procedure for further amendment.</p>


	<h3>Section 4: Procedure</h3>


	<p>The vote to ratify a proposed amendment to this constitution shall occur at the penultimate assembly of the annual meeting, unless postponed by the Executive Board or the membership.</p>


	<h3>Section 5: Ratification</h3>


	<p>The membership shall ratify a proposed amendment to this constitution by a three-fourths vote.</p>


	<h1>Bylaws</h1>


	<h2>Article I: Charters</h2>


	<h3>Section 1:</h3>


	<p>The Executive Board may grant charters to, or revoke the charters of, state and local chapters of the <span class="caps">NSCL</span>. The President shall encourage the organization of new chapters however possible, and may grant temporary charters pending action by the Executive Board.</p>


	<h3>Section 2: State/Provincial Chapters</h3>


	<p>Any five members may organize a state/provincial chapter. Each state/provincial chapter shall be affiliated with the corresponding state/provincial chapter of the Junior Classical League, if possible. Each state/provincial chapter shall pursue the objectives of the national organization within the state; shall represent the national organization within the state/province; and shall advise, encourage, and help the state/provincial chapter of the Junior Classical League.</p>


	<h3>Section 3: Local Chapters</h3>


	<p>Any five members may organize a local chapter, which shall be affiliated with a college or with a local chapter of the Junior Classical League, if possible, and shall be subject to the jurisdiction of its state chapter.</p>


	<h3>Section 4: National Obligations</h3>


	<p>Each chapter shall cooperate with the national organization however possible and shall submit all necessary materials to maintain its charter as outlined in the <span class="caps">NSCL</span> Handbook. No chapter shall adopt a constitution, bylaws, or policy that is in direct contradiction to the <span class="caps">NSCL</span> Constitution and Bylaws or its policies, or the <span class="caps">ACL</span> Constitution and Bylaws.</p>


	<h2>Article II: Officers</h2>


	<h3>Section 1: Nominations</h3>


	<p>The nomination of candidates for office shall occur at the penultimate assembly of the annual meeting. Any member may nominate an eligible member for office. Each candidate so nominated may then speak on his own behalf for up to four minutes.</p>


	<h3>Section 2: Election</h3>


	<p>The election of officers shall occur at the last assembly. Any member may then discuss or question any candidate, who may respond. Each candidate may remain present in the meeting throughout the election. Elections shall occur for each office in the order in which the offices are listed in the Constitution, with winners being announced for each office before election for the next office begins, except as provided in subsections five and six of this section. An unsuccessful candidate may be nominated for another office at the election. Each candidate so nominated may then speak on his own behalf for up to two minutes.</p>


	<h3>Section 3: Voting</h3>


	<p>The members shall vote by secret ballot. The President, the Parliamentarian, and the Advisor shall count the votes; but, if the President or Parliamentarian is a candidate, then the three shall jointly appoint an impartial member to replace the candidate as teller.</p>


	<h4>Section 3.1: Voters</h4>


	<p>A registered delegate who has attended at least one assembly prior to the assembly of the elections, and who was present for either the speeches or the question-and-answer period, is an eligible voter. The Parliamentarian shall note who attends all or part of any assembly before the election, in order to make a list of voting delegates.</p>


	<h4>Section 3.2: Absentee and Proxy Ballots</h4>


	<p>An eligible voter who expects to be absent during the election may give to a teller an absentee ballot that ranks the candidates for each office in order of preference, which shall count for the highest listed candidate who is still eligible. No member may vote for another as his proxy.</p>


	<h4>Section 3.3: Counting Ballots</h4>


	<p>Election shall occur by majority. In uncontested elections, if the candidate does not receive a majority of the votes available, the candidate is not elected and the office is vacated. The newly- elected Executive Board shall appoint an eligible member to the office.</p>


	<h4>Section 3.4: Non-majorities</h4>


	<p>In contested elections, if no candidate receives a majority, then the delegates shall vote again, voting only upon the two leading candidates. If, after the delegates vote a second time no candidate has received a majority, then the elections shall devolve upon the newly-elected Executive Board.</p>


	<h3>Section 4: Vacancies</h3>


	<p>If the Presidency becomes vacant, then the Vice-President shall immediately become President. If an elected office besides the Presidency becomes vacant, then the President, with a consensus of the Executive Board and Advisor, shall appoint a qualified successor, who shall serve for the remainder of the unexpired term. An officer who does not attend the annual meeting at the end of his term has vacated the office.</p>


	<h3>Section 5: Term of Office</h3>


	<p>Each elected officer shall begin his term at his inauguration into office during the annual meeting. Each appointed officer shall begin his term of office upon appointment.</p>


	<h2>Article <span class="caps">III</span>: Dues</h2>


	<h3>Section 1: Regular Membership</h3>


	<p>The dues of a regular member of the <span class="caps">NSCL</span> shall be six dollars for four years.</p>


	<h3>Section 2: Associate Membership</h3>


	<p>The dues of an associate member of the <span class="caps">NSCL</span> shall be four dollars for four years.</p>


	<h2>Article IV: Duties of Advisor and Officers</h2>


	<h3>Section 1: Duties of the Advisor</h3>


	<ol>
	<li>Report to the National Committee concerning all <span class="caps">SCL</span> matters;</li>

		<li>Work cooperatively with the American Classical League;</li>
		<li>Advise the <span class="caps">NSCL</span> Executive Board and the membership;</li>
		<li>Approve disbursement from the Treasury and assist the elected Treasurer to complete necessary financial reports;</li>
		<li>Oversee all events in which the <span class="caps">SCL</span> is involved; </li>

		<li>Serve on the <span class="caps">NSCL</span> Scholarship Committee; and,</li>
		<li>Oversee any other tasks outlined by the National Committee.</li>
	</ol>


	<h3>Section 2: Duties of the President</h3>

	<ol>
	<li>Chair the membership and the Executive Board;</li>
		<li>Convene the membership, the Executive Board, or any committee, with cause;</li>
		<li>Coordinate membership promotion and alumni relations;</li>
		<li>Create and appoint any necessary committee;</li>
		<li>Delegate responsibility whose exercise is not otherwise provided for;</li>

		<li>Monitor the official <span class="caps">NSCL</span> website for updates posted by other officers;</li>
		<li>Assist state and local chapters in their organizing and granting temporary charters to these chapters at his discretion;</li>
		<li>Serve ex officio to each committee; and,</li>
		<li>Coordinate and oversee the duties of the officers.</li>
	</ol>


	<h3>Section 3: Duties of the Vice-President</h3>


	<ol>
	<li>Assume the Presidency upon any permanent vacancy of that position;</li>
		<li>Execute the duties of the President in the event of the President&#8217;s absence or temporary inability to serve;</li>
		<li>Assist the President; and,</li>

		<li>Organize the work at the national convention of the Junior Classical League through committees, appointed by and responsible to him or her, with jurisdiction over the banquet, the hospitality room, the Ludi events, the mixer, the Olympika, and the talent show.</li>
	</ol>


	<h3>Section 4: Duties of the Secretary</h3>


	<ol>
	<li>Carefully record all proceedings of the membership or the Executive Board, and circulate these minutes to each officer after the meeting;</li>

		<li>Maintain any business records or other official documents in good order;</li>
		<li>Maintain, in conjunction with the treasurer, the roll of members and alumni; </li>
		<li>Make the roll of members and other official documents available on the website, updating these documents when necessary;</li>
		<li>Act as administrator for the <span class="caps">NSCL E</span>-mail lists; and,</li>
		<li>Make any document or record available to any member upon request.</li>

	</ol>


	<h3>Section 5: Duties of the Treasurer</h3>


	<ol>
	<li>Collect any dues or fees or any routine debt owed to the organization;</li>
		<li>Deposit any income to the treasury and provide for its safekeeping in the organization&#8217;s name;</li>

		<li>Disburse funds as appropriated by the Executive Board or the Advisor;</li>
		<li>Furnish each member with credentials;</li>
		<li>Maintain, in conjunction with the secretary, the roll of members and alumni;</li>
		<li>Publish a financial report in each newsletter; and,</li>
		<li>Recommend an annual budget to the Executive Board for approval by the National Committee.</li>
	</ol>


	<h3>Section 6: Duties of the Parliamentarian</h3>


	<ol>
	<li>Administer the election of officers;</li>
		<li>Advise any officer or other member of procedure;</li>
		<li>Help the chair keep order at any meeting;</li>

		<li>Revise and update the <span class="caps">NSCL</span> Handbook for distribution; and,</li>
		<li>Work with state and local chapters toward the maintenance of their permanent charters.</li>
	</ol>


	<h3>Section 7: Duties of the Editor</h3>

	<ol>
	<li>Publish the official newsletter, the Letter of the League, up to three times annually on the official <span class="caps">NSCL</span> website;</li>
		<li>Publish a daily newspaper, the Convention Ear, at the national convention of the Junior Classical League; and,</li>
		<li>Promote the organization in publications of interest to classicists.</li>
	</ol>

	<h3>Section 8: Duties of the Historian</h3>
	<ol>
		<li>Prepare an ongoing historical record of the League in the form of a scrapbook and official history.</li>
		<li>Incorporate the official history into the <span class="caps">NSCL</span> website making updates as necessary.</li>
	</ol>


	<h2>Article V: Meetings</h2>


	<h3>Section 1: Annual Meeting of Membership</h3>


	<p>The meeting shall consist of not fewer than three assemblies. The Executive Board shall give notice of each assembly to each registered delegate, through the convention program, if possible.</p>


	<h4>Section 1.1: Special Assembly</h4>


	<p>The President may call a special assembly during the convention after reasonable notice to each registered delegate, in which case a simple majority of the registered delegates shall constitute a quorum.</p>


	<h4>Section 1.2: Agenda</h4>


	<p>The Executive Board with the advice of the President, the Advisor, and the Parliamentarian shall set the agenda of each assembly. Any member may introduce business onto the agenda by written notice to the President or Parliamentarian or Advisor before the convention.</p>


	<h3>Section 2: Special Meeting of the Membership</h3>


	<p>The President or the Executive Board may, with cause, call a Special Meeting of the membership. All regular and associate members shall be given one month&#8217;s prior notice of this meeting. One third of the regular and associate members shall constitute a quorum at this meeting.</p>


	<h2>Article VI: Amendment</h2>


	<p>Bylaws Procedure: Bylaws may be established, amended, or appealed by a two-thirds majority vote.  Notice of proposed changes must be given at least one general session prior to final action on said change.</p>
