<h2>NSCL Creed</h2>

<p>We, the members of the Senior Classical League, covenant to hand on the torch of classical civilization in the modern world. We believe an acquaintance with the civilization of Greece and Rome will help us understand and appraise this world of today, which is indebted to ancient civilization in its government and laws, literature, language and arts.</p>


	<p>We affirm the SCL experience develops responsibility, fosters brotherhood, promotes enthusiasm, encourages competition, inspires dedication and enriches our total growth.</p>