/* Gentium used under the terms of the Open Font License: http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&item_id=OFL */

@font-face {
    font-family: Gentium;
    src: url("/fonts/Gentium/GentiumBasR.eot");
}

@font-face {
    font-family: Gentium;
    src: url("/fonts/Gentium/GentiumBasI.eot");
    font-style: italic;
}

@font-face {
    font-family: Gentium;
    src: url("/fonts/Gentium/GentiumBasB.eot");
    font-weight: bold;
}

@font-face {
    font-family: Gentium;
    src: url("/fonts/Gentium/GentiumBasBI.eot");
    font-style: italic;
    font-weight: bold;
}
