<h1><%= @pageCategory.name %></h1>
<p>Created: <%= @pageCategory.created_at %><br />
Number of Pages: <%= @pageCategory.pages.count %></p>

<p><%= link_to "Return to Directories", page_categories_url%></p>
