PassengerAppRoot /home/virtual/site224/fst/var/www/nscl
RailsBaseUri /
# General Apache options
Options +FollowSymLinks +ExecCGI

ExpiresActive On
ExpiresDefault "access plus 1 year"

<FilesMatch "\.(ttf|otf|eot)$">
        SetOutputFilter DEFLATE
</FilesMatch>


RedirectMatch 301 "^/(about_scl|join|website|states|submit_application)$" /about/$1

ErrorDocument 500 "<h2>Application error</h2>Rails application failed to start properly"
