<p>
	<label for="link[name]">Name:<%=text_field "link", "name" %></label><br />
	<label for="link[url]">URL:<%=text_field "link", "url" %></label><br />
	<label for="link[description]">Description:</label><br />
	<%=text_area "link", "description", :rows => 4 %><br />
	<label for="link[section]">Type:</label>
</p>