<p>
	<label for="link[name]">Name:</label><%= form.text_field :name %>
	<label for="link[url]">URL:</label><%= form.text_field :url %>
	<label for="link[description]">Description:</label>
	<%= form.text_area :description, :rows => 4, :cols => 30 %><br />
</p>