<h1>Links</h1>
<ul class="admin-list">
<% @links.each do |l| %>
	<li>
		<% form_for(l, :html => {:method => :delete}) do |f| %>
		<%= "#{l.name} &#8212; #{l.url}" %> 
		<%= link_to "(edit)", edit_link_url(l) %> 
		<%=submit_tag "delete" %><% end %>
	</li>
<% end -%>
</ul>