<ul>
    <li>Officers
		<ul>
			<% @officers.each do |o| -%>
			<li><%= link_to o.name, :link => o.link %></li>
			<%end -%>
		</ul>
	</li>
	<li><%= link_to "Documents", {:controller => '/business/documents'} %></li>
</ul>