<ul>
	<li>SCL Events
		<ul>	
			<li><%= link_to "About Convention", :action => "convention" %></li>
			<li><%= link_to "SCL-Run Events", :action => "scl_events" %></li>
		    <li><%= link_to "Convention Chairs", :action => "chairs" %></li>
		</ul>
	</li>
</ul>