<h1>Schools Admin</h1>
<p><%= link_to "Add New School", new_school_url %></p>
<ul>
<% @schools.each do |s| %>
	<li id="school-<%= s.id %>"><%= s.name %> <%= link_to "(edit)", edit_school_path(s) %></li>
<% end %>
</ul>
