<h1>Classical Links</h1>
<% @classics_links.each do |link| -%>
	<p><%= link_to link.name, link.url %>
	<% if link.description != nil and link.description != "" -%>
	<br /><%= link.description %>
	<% end -%>
	</p>
<% end -%>
	
<h1>Search Indexes and Directories</h1>
<% @search_links.each do |link| -%>
	<p><%= link_to link.name, link.url %>
	<% if link.description != nil and link.description != "" -%>
	<br /><%= link.description %>
	<% end -%>
	</p>
<% end -%>