<h1>National Links</h1>
<% @national_links.each do |link| -%>
	<p><%= link_to link.name, link.url %>
	<% if link.description != nil and link.description != "" -%>
	<br /><%= link.description %>
	<% end -%>
	</p>
<% end -%>
<h1>State Links</h1>
<% @state_links.each do |link| -%>
	<p><%= link_to link.name, link.url %>
	<% if link.description != nil and link.description != "" -%>
	<br /><%= link.description %>
	<% end -%>
	</p>
<% end -%>