<ul>
    <li>Officers
		<ul>
			<% cache "officer_sidebar_list" do %>
			<% @officers.each do |o| -%>
			<li><%= link_to_for_sidebar o.name, :controller => "business/officers", :link => o.link %></li>
			<% end -%>
			<% end -%>
		</ul>
	</li>
	<li>Documents
		<ul>
			<li><%= link_to_for_sidebar "Creed", :controller => "business/documents", :action => "creed"%></li>
			<li><%= link_to_for_sidebar "Song", :controller => "business/documents", :action => "song" %></li>
			<li><%= link_to_for_sidebar "Constitution", :controller => "business/documents", :action => "constitution"%></li>
		</ul>
	</li>
</ul>