<p class="previous-next">
	<% unless @offset == 0 -%>
	<input name="previous" type="submit" value="&laquo; Previous" />
	<% end -%>
	Page <%= (@offset / 10) + 1 %> of <%= @pages %>
	<% unless @offset + 10 >= @count -%>
	<input name="next" type="submit" value="Next &raquo;" />
	<% end -%>
</p>