<ul>
	<li><%= link_to "Scholarships", :controller => "scholarships" %></li>
	<li>Member Services
		<ul>
			<li><%= link_to "Member Directory", :action => "directory" %></li>
			<li><%= link_to "E-mail Lists", :action => "lists" %></li>
		</ul>
	</li>
</ul>