<h1>Member Directory</h1>
<h2>Search Results for &#8220;<%= @search_term%>&#8221;</h2>
<% form_tag :action => "search_by_name" do%>

<%= render :partial => "page_selector"%>

<% unless @results.empty? %>
	<%= render :partial => 'profile', :collection => @results %>
<% else %>
	<strong>Sorry, no matches found.</strong>
<% end %>

<%= render :partial => "page_selector"%>

<%end-%>
