<% form_for @publication, :html=> {:multipart => true} do |f| %>
	<p>
		<label for="publication[date]">Date:</label><br />
		<%= f.date_select :date %>
	</p>
	<p>
		<label for="publication[publication]">File:</label><br />
		<%= f.file_field :publication, {:start_year => 1990} %>
	</p>
	<p>
		<label for="publication[pub_type]">Publication:</label><br />
		<%= f.text_field :pub_type %>
	</p>
	<p><%= submit_tag "Save" %></p>
<% end %>