<p>
	<%= form.label :date %>
	<%= form.date_select :date, {:start_year => 1990} %>
</p>
<p>
	<label for="publication[publication]">File:</label>
	<%= form.file_field :publication %>
</p>
<p>
	<label for="publication[pub_type]">Publication:</label>
	<select id="publication_pub_type" name="publication[pub_type]">
		<%= options_for_select ["Convention Ear", "Letter of the League"], @publication.pub_type %>
	</select>
</p>