<h1>Publications</h1>
<ul>
<% @publications.group_by(&:year).sort {|a,b| b <=> a}.each do |year, pub| %>
	<li><%= year %>
		<ul>
			<% pub.each do |p| %>
				<li><%= link_to p.pub_type, publication_url(p) %> - <%= p.date %></li>
			<% end %>
		</ul>
	</li>
<% end %>
</ul>
