<ul>
		<li><%= link_to_for_sidebar "About the SCL", :action => "about_scl" %></li>
		<li><%= link_to_for_sidebar "Joining the SCL", :action => "join" %></li>
		<li><%= link_to_for_sidebar "State Chapters", :action => "states" %></li>
		<li><%= link_to_for_sidebar "About the Website", :action => "website" %></li>
</ul>