<h2>Why does this site look strange?</h2>

<p>Thank you for visiting the National Senior Classical League online. Unfortunately, a small percentage of our users may experience strange behavior, such as blue boxes behind images, missing images, and strange colors. This is because the program they use to view the Web, known as a <em>web browser</em>, is out of date and does not support the latest technologies.</p>

<p>The version of Internet Explorer you are using, Internet Explorer 6, has not had a substantial update since August of 2004 and therefore, given the low number of visitors using this browser, we have made the decision not to support it. You will still be able to visit all of the pages, but the site may not display properly.</p>

<p>If you wish to avoid this problem, please consider upgrading to a new, modern web browser. Your web experience will improve on many sites, not just this one. Here are two suggestions from NSCL Web Crew:</p>

<ul>
	<li><%=link_to "Internet Explorer 7", "http://www.microsoft.com/windows/downloads/ie/getitnow.mspx" %></li>
	<li><%=link_to "Mozilla Firefox 3", "http://www.mozilla.com/" %></li>
</ul>