<h1>Application Submitted</h1>
<p>Thank you for submitting your application! You will receive an e-mail confirmation shortly. To complete your application, please click on the checkout link below.</p>
