<h2>State Chapters</h2>
<p>There's more to SCL than just what goes on on the national stage. Here are links to state chapters around the country.</p>
<p>Do you know a state website that isn't listed here? E-mail the <%= mail_to "web@nscl.org", "NSCL.org team", :encode => "hex" %>.</p>
<ul>
<% @links.each do |l| %>
	<li><%= link_to l.name, l.url %><% if l.description %> - <%= l.description %><%end%></li>
<% end %>
</ul>