<h1>Application Submitted</h1>
<p>Thank you for submitting your application! You will receive an e-mail confirmation shortly. Please remember that your application will not be approved until the Treasurer receives your $6 dues.</p>