<h2>About the Website</h2>

<p>NSCL.org was created a long, long time ago by the following NSCL webmasters:</p>
	<ul>
		<li>Ian Anderson</li>
		<li>Steve Barnes</li>
		<li>Kevin Fu</li>
		<li>Taf W. Greenstreet</li>
		<li>Carlos Nunes-Ueno</li>
		<li>Peter Sommer</li>
		<li>Jake Stetser</li>
		<li>Philip Zeyliger</li>
	</ul>
	<p>The current incarnation of NSCL.org was developed by Tyler Cunnion and launched March 4, 2009.</p>
	<p>Currently the website is in the charge of the NSCL Executive Board and, of course, the most important webmaster of them all: <%= mail_to "sockpuppet@nscl.org", "Mr. Sockpuppet", :encode => "hex" %>.</p>

	<p>Questions or comments may be directed to the <%= mail_to "webmaster@nscl.org", "NSCL Web Crew", :encode => :hex %>. If you'd like to become involved in the ongoing development of NSCL.org, please contact Web Crew.</p>