<ul>
	<li>Scholarships
	<ul>
		<li><%=link_to "Hal Rather Award", :action => "hal_rather" %></li>
		<li><%=link_to "NSCL Scholarship", :action => "nscl_scholarship" %></li>
		<li><%=link_to "Mark Schapler Award", :action => "mark_schapler" %></li>
	</ul>
	</li>
	<li><%= link_to "Member Services", :controller => "members/services" %></li>
</ul>