<h1>Dennis M. Bartlow Book Award</h1>
<p>The NSCL also awards the Dennis M. Bartlow Memorial Book Award ($500) to the applicant with the greatest financial need other than the recipient of the NSCL scholarship. There is no separate application for this award.</p>
