<h2>We're Sorry</h2>
<p>The NSCL website uses a filter to prevent spam applications form being submitted. Your application has been flagged by our system as probable spam. If this is an error, please alert <%=link_to "NSCL Web Crew", :controller => "/about", :action => "website" %> and we will attempt to fix the problem.</p>