<h1>Hal Rather Convention Award</h1>

<p>Thanks to a bequest from the late Hal Rather, active NSCL member and popular co-host of the convention&#8217;s That&#8217;s Entertainment production, it is now possible for an NSCL member to attend the NJCL convention with the registration packet completely paid for, leaving only transportation costs to the recipient of this award. An applicant is applying for convention fees for the following year&#8217;s convention.</p>

<h2>Recipients must:</h2>
<ul>
    <li>Have attended at least one NJCL convention</li>
    <li>At that convention, applicant must have provided an outstanding example of the services that the NSCL offers the NJCL</li>
    <li>Demonstrate financial need for the award to attend convention</li>
</ul>
<h2>N.B. to Hal Rather Award</h2>
<p>The recipient of this award does NOT have to be a Latin/Classics major, nor does it make any difference whether he or she has held or holds national SCL office.</p>

<p>If the recipient cannot or does not attend the following convention, the award may be offered to a runner-up or the original recipient may be allowed to use it for the second following convention. Such arrangements are at the discretion of the NSCL Scholarship Board of Trustees.</p>

<p>The NSCL Scholarship Board of Trustees controls the applications and funds for this award. The selection of the recipient is made by this year&#8217;s NSCL Executive Board, with the subsequent approval of the Scholarship Trustees.</p>

<h2><%= link_to "Apply for the Hal Rather Award", :action => "hal_rather_application"%></h2>
