<h2>Mark Schapler Book Award</h2>
<p>The NSCL also awards the Mark Schapler Memorial Book Award ($500) to the applicant with the greatest financial need other than the recipient of the NSCL scholarship. There is no separate application for this award.</p>