<h2>Susan S. Schearer National Senior Classical League Scholarship</h2>
<p>The Susan S. Schearer National Senior Classical League Scholarship, in the amount of $1,500, is open to any NSCL member going into his/her sophomore, junior, or senior year of college with a major in Latin, Greek, Classics, or Classical Studies. The criteria are financial need, SCL service, and overall academic record.</p>

<p>Interested members may apply online by clicking on the link below or may request a printed application form from</p>
<p class="indent">
	NSCL Scholarship Chairman<br />
	11345 Torino Way<br />
	Reno, NV 89521
</p>
<p>or by <%= mail_to "renogator@charter.net", "e-mail.", :encode => "hex" %></p>

<p>Completed applications must be sent to the chair by July 1. A complete application consists of both the application form (either submitted via the internet or by mail) AND an official transcript of college work completed: through the current school year for the scholarship.</p>

<p>The applicant who has the highest financial need, but does not win the scholarship itself, will receive the <%= link_to "Mark Schapler Book Award", :action=> "mark_schapler" %> ($500).</p>

<h2><%= link_to "Apply for the NSCL Scholarship", :action => "nscl_scholarship_application"%></h2>